crewai
crewai-tools
fastapi
uvicorn
streamlit
groq
chromadb
pypdf
python-docx
pydantic
python-dotenv
tiktoken
langchain
langchain-google-genai
langchain-chroma
langchain-huggingface
langchain-community
sentence-transformers
litellm
